body {
  margin: 0;
  background: #1e1e1e;
  display: flex;
  justify-content: center;
  padding: 30px;
  font-family: "Poppins", sans-serif;
}

.invite-card {
  width: 480px;
  background: linear-gradient(#fff9e6, #fdf5d9);
  padding: 30px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  position: relative;
}

/* Text Style */
.title {
  color: #4aba3f;
  font-size: 32px;
  margin-bottom: 5px;
}

.subtitle {
  color: #c39a41;
  font-size: 20px;
  font-weight: 400;
}

.small-msg {
  margin-top: 20px;
  font-size: 14px;
}

.month {
  margin-top: 25px;
  font-size: 20px;
}

.big-date {
  font-size: 58px;
  font-weight: 700;
  margin: -10px 0;
}

.time {
  font-size: 14px;
  font-weight: bold;
}

.location {
  margin: 20px 0;
  font-size: 16px;
}

/* Scene */
.scene {
  position: relative;
  width: 100%;
  height: 200px;
  margin-top: 10px;
}

/* Grass */
.scene::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background: #4bc14b;
  border-radius: 50px 50px 0 0;
}

/* Chick Body */
.chick {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.face {
  width: 120px;
  height: 120px;
  background: #ffeb3b;
  border-radius: 50%;
  position: relative;
}

/* Eyes */
.eyes {
  width: 15px;
  height: 15px;
  background: #333;
  border-radius: 50%;
  position: absolute;
  top: 40px;
}

.eye-left {
  left: 35px;
}

.eye-right {
  right: 35px;
}

/* Beak */
.beak {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 20px solid orange;
}

/* Wings */
.wing {
  width: 50px;
  height: 50px;
  background: #ffeb3b;
  border-radius: 50%;
  position: absolute;
  top: 50px;
}

.left-wing {
  left: -25px;
  transform: rotate(-20deg);
}

.right-wing {
  right: -25px;
  transform: rotate(20deg);
}

/* Egg shell */
.egg {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 160px;
  height: 110px;
  background: white;
  border-radius: 80px 80px 0 0;
}

/* Bottom Text */
.footer-msg {
  font-size: 12px;
  margin-top: 20px;
  color: #666;
}
